.contenedorTotal{
    display: flex;
    flex-direction: column;
    button{
        width: calc(100% - 40px);
        margin: auto;
        font-size: 1em;
    }
    .contenedorBotones{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        p{
            display: inline;
        }
        button{
            width: 30px;
            height: 30px;
            font-size: 1.1em;
            margin: auto;
            line-height: 30px;
        }
    }
}