@import '../../Estilos/variables';

.contenedorPrincipal{
    height: 100vh;
    width: calc(100vw - 25px);
    margin: auto;
    .titulo{
        margin: 20px auto;
        background-color: $red;
        text-align: center;
        color: white;
        width: 50%;
        border-radius: 20px;
    }
    .divProductos{
        @extend %flex-row;
        height: calc(100vh - $height-header);
    }
}
