@import '../../Estilos/variables';

.contenedorPrincipal{
    height: calc(100vh - $height-header);
    width: calc(100vw - 25px);
    margin: auto;
    .titulo{
        background-color: $red;
        text-align: center;
        color: white;
    }
    .divProductos{
        display: flex;
        flex-direction: row;
    }
}
