@import '../../Estilos/variables';

.navBar{
    width: 100%;
    height: $height-header;
    @extend %flex-row;
    justify-content: space-evenly;
    background-color: black;
    p{
        color: white;
    }
    .brandSvg{
        margin: none;
        width: 50px;
        svg{
            color: $red;
            padding: 25px;
            font-size: 3em;
            margin: 10px 0px;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .tituloNav {
        color: white;
        padding: 15px;
        align-self: center;
        text-align: center;
        font-size: 1.8em;
    }
    .divMenu{
        display: flex;
        align-items: center;
        .menuNav {
            @extend %flex-row;
            list-style: none;
            flex-wrap: wrap;
            li{
                width: 130px;
                height: 45px;
                margin: 0px 5px;
                button{
                    color: white;
                    background-color: $red;
                    width: 130px;
                    height: 45px;
                    line-height: 45px;
                    border-radius: 15px;
                    font-size: 1.2em;
                    cursor: pointer;
                    &:hover{
                        background-color: #F0A924;
                        transform: scale(1.1);
                        text-decoration: underline;
                    }
                }
            }

        }
    }
}
